li {
  list-style: none;
}
/* 이미지 슬라이드 시작 */
.slide_wrapper {
  position: relative;
  width: 720px;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
}
.slides.animated {
  transition: 0.5s ease-out;
}
.slides li {
  width: 720px;
  height: 400px;
  background-color: #ccc;
  float: left;
}
/* slides의 li에 margin-right를 30px를 전부 주지만, 마지막 child는 margin-right를 안준다. */
.slides li:not(:last-child) {
  margin-right: 30px;
}
/* 이미지 슬라이드 종료 */
/* 슬라이드 버튼 시작 */
.controls {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.slideBtn {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  top: calc(50% - 24px); /* 50% - 버튼의 height의 반 */
  user-select: none; /* 드래그 방지 */
}
.slideBtn.prev {
  left: 10px;
}
.slideBtn.next {
  right: 10px;
}
.prevBtn_SVG_big {
  width: 20px;
  height: 20px;
}
/* 슬라이드 버튼 종료 */
